:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none
}

.commentHead {
  width: 100%;
  display: flex;

  align-items: center;

  min-height: 1.8rem;
}

.likedButton i {
  color: rgb(0, 204, 34);
}

.dislikedButton i {
  color: rgb(242, 13, 13);
}
