:global(.ui.basic.label).toolbarBtn {
  border: none
}

div[contenteditable="true"] {
  border-bottom: 1px solid gray;
}

div[contenteditable="true"] {
  outline: none;
}

.postHead {
  width: 100%;
  display: flex;
}

.likedButton i {
  color: rgb(0, 204, 34);
}

.dislikedButton i {
  color: rgb(242, 13, 13);
}
