.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;

  display: flex;
  justify-content: space-evenly;
}

.leftToolbar {
  display: flex;
  flex-direction: column;
}

.leftToolbar > * + *{
  margin-top: 1rem;
}
